.background-opp {
  background-image: linear-gradient(to top right, transparent 50%, #b0e9ff 50%),
    linear-gradient(to top left, transparent 50%, #b0e9ff 0%);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}
