.bg-navy {
  background-color: #1e25a6;
}

.text-navy {
  color: #1e25a6;
}

.bg-dark-blue {
  background-color: #3572ef;
}

.text-dark-blue {
  color: #3572ef;
}

.bg-blue {
  background-color: #4a80f1;
}

.text-blue {
  color: #4a80f1;
}

.bg-cyan {
  background-color: #b0e9ff;
}

.text-cyan {
  color: #b0e9ff;
}

.text-dark-gray {
  color: #c5c5c5;
}

.bg-light-navy {
  background-color: #4449b5;
}

.text-light-navy {
  color: #4449b5;
}
