.office-background {
  background-image: url(https://img.freepik.com/free-photo/empty-room-with-chairs-desks_23-2149008873.jpg?semt=ais_hybrid);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
